/*------------------------------------*\
      #WELCOME-SECTION
  \*------------------------------------*/

@media (max-width: 480px) {
  .welcome-section {
    background-image: url("https://64.media.tumblr.com/993471e83998f3ec78f8f563637a770f/tumblr_ojirjzpntH1vmlj40o1_1280.gif") !important;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .welcome-section {
    background-image: url("https://64.media.tumblr.com/993471e83998f3ec78f8f563637a770f/tumblr_ojirjzpntH1vmlj40o1_1280.gif") !important;
  }
}

@media (min-width: 1025px) {
  .welcome-section {
    background-image: url("https://64.media.tumblr.com/993471e83998f3ec78f8f563637a770f/tumblr_ojirjzpntH1vmlj40o1_1280.gif") !important;
  }
}

/* art by Rebecca Sugar */
